<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="ml.melun.mangaview.viewer.runtime.SurfaceTransactionProbeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
        <activity
            android:name="ml.melun.mangaview.viewer.runtime.EngineSwapBaselineActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
        <activity
            android:name="ml.melun.mangaview.viewer.runtime.EngineViewerProbeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
        <activity
            android:name="ml.melun.mangaview.viewer.runtime.CompleteResumeProbeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
        <activity
            android:name="ml.melun.mangaview.viewer.runtime.SessionMemoryProbeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
        <activity
            android:name="ml.melun.mangaview.viewer.runtime.OwnedRendererProbeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
        <activity
            android:name="ml.melun.mangaview.viewer.runtime.EngineReadbackProbeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
    </application>
</manifest>
